@font-face {
    font-family: 'raleway-regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf"),
}

@font-face {
    font-family: 'raleway-medium';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf"),
}

@font-face {
    font-family: 'raleway-semiBold';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf"),
}

@font-face {
    font-family: 'raleway-bold';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf"),
}

@font-face {
    font-family: 'raleway-extraBold';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf"),
}

@font-face {
    font-family: 'montserrat-light';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Montserrat/Montserrat-Light.ttf"),
}

@font-face {
    font-family: 'roboto-regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf"),
}

$edge_padding: 100px;
$top_padding: 80px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

p {
    font-family: 'raleway-medium';
    line-height: 1.5;
}

.btn_dark {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'raleway-extraBold';
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 5px;
    border: none;
    padding: 20px 40px;
    text-align: center;
}

.btn_dark:hover {
    background-color: lighten(#C7B299, 5%);
}

.logo {
    font-size: 34px;
    font-family: 'raleway-regular';
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    fill: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.main_header {
    height: 100VH;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url(../img/backgroundHeader.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    a:hover {
        color: #C7B299;
    }
    
    .navbar {
        display: flex;
        text-transform: capitalize;
        align-items: center;
        height: 10%;
        margin: 40px 0 0 0;
    
        &-logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            width: 183px;
            margin: 0 219px 0 0;
        }
    
        &-svg {
            fill: #FFFFFF;
        }
        
        &-menu_list {
            display: flex;
            list-style-type: none;
            margin: 0 40px 0 0;
        }
    
        &-menu_item {
            font-family: 'raleway-medium', 'montserrat-light';
            font-size: 14px;
            margin: 0 30px 0 0;
        }
    
        &-btn_cart, &-btn_search {
            border: none;
            background: none;
        }
            
        &-btn_cart {
            margin: 0 27px 0 0;
        }
        
        &-svg:hover {
            fill: #C7B299;
        }

        &-btn_search {
            width: 25px;
            height: 25px;
            outline: none;
            background-image: url(../img/icon-search.svg);
            background-repeat: no-repeat;
            fill:#FFFFFF;
        }
          
        &-btn_search:focus {
            width: 200px;
            transition: width 1s ease-out;
            background-position: left;
            padding: 0 0 0 30px;
            color: #FFFFFF;
            background-color: #C7B299;
        }

        &-btn_search:hover {
            background-color: #C7B299;
        }
    }

    .carusel {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 40px;

        &_txt {
            text-align: center;
            width: 590px;

            h3 {
                font-size: 36px;
                font-family: 'raleway-medium';
            }
    
            h2 {
                font-size: 52px;
                font-family: 'raleway-extraBold';
                margin: 0 0 15px 0;
            }
    
            p {
                font-size: 16px;
                margin: 0 0 51px 0;
                padding: 0 10px;
                hyphens: auto;
            }
        }

        &_switch {
            display: block;
            width: 50px;
            height: 50px;
            margin: 120px 0 0 0;
            border: none;
            background: none;
            border-top: 2px solid #A2A19F;
            border-right: 2px solid #A2A19F;
        }

        .switch-rigth {
            transform: rotate(45deg);
        }

        .switch-left {
            transform: rotate(225deg);
        }

        &_switch:hover {
            border-top: 2px solid #C7B299;
            border-right: 2px solid #C7B299;
            color: #C7B299;
        }

        &_pagination {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 0 40px 0;
            align-self: flex-end;
        }

        &_pagination-item {
            display: block;
            width: 10px;
            height: 10px;
            margin: 5px;
            background-color: #8E8F90;
            border-radius: 50%;
            border: 1px solid transparent; 
        }

        &_pagination-item:hover {
            background-color: transparent;
            border: 1px solid #C7B299;
            transform: scale(1.5);
        }
    }
}

.content * {
    justify-content: center;

    .title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-family: 'raleway-semiBold', 'raleway-medium';
        color: #555555;
        margin: 0 0 25px 0;
    }

    .description {
        max-width: 780px;
        text-align: center;
        font-size: 16px;
        color: #8C8C8C;
        margin: 0 auto 40px;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: $top_padding $edge_padding;
    background-color: #FFFFFF;


    &_item {
        width: 266px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 33px 0 0;
    }

    &_item:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: #F1EEE9;
        margin: 29px 0 0 0;
    }
    
    &_item:hover &-icon, &_item:hover &-title, &_item:hover:after {
        color: #C7B299;
        fill: #C7B299;
    }
        
    &_item:hover:after {
        background-color: #C7B299;
    }

    &-icon {
        display: flex;
        fill: #555555;
        margin: 0 0 30px 0;
        width: 52px;
        height: 50px;
    }

    &-title {
        width: 100%;  
        margin: 0 0 19px 0; 
        font-family: 'raleway-semiBold', 'raleway-bold';
        font-size: 22px;
        color: #555555
    }

    &-txt {
        font-size: 14px;
        color: #8C8C8C;
    }
}

.your_ideas {
    background-color: #FBFAF8;
    padding: $top_padding $edge_padding 0;

    &-images {
        width: 100%;
        min-height: 500px;
        background-image: url(../img/ideas-center.png),
                          url(../img/ideas-left.png),
                          url(../img/ideas-right.png);
        background-repeat: no-repeat;
        background-position: bottom center, bottom left, bottom right;
    }
}

.banner_buy {
    height: 150px;
    padding: 45px $edge_padding;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;

    &-title {
        font-size: 28px;
        font-family: 'raleway-regular';
        color: #FFFFFF;

        .name_company {
            color: #C7B299;
        }
    }

    &-txt {
        font-size: 18px;
        color: #615855;
    }
}

.projects {
    padding: $top_padding $edge_padding;
    display: flex;
    flex-wrap: wrap;
    
    &-menu {
        width: 100%;
        display: flex;
        margin: 0 0 40px 0;
    }
    &-menu_item {
        margin: 0 9px 0 0;
        padding: 8px 25px;
        text-transform: capitalize;
        font-family: 'raleway-medium', 'montserrat-light';
        font-size: 14px;
        color: #8c8c8c;
        background-color: rgba(17,17,17,0.0);
        border: 1px solid #ebebeb;
        border-radius: 5px;
    }
    &-menu_item:last-child {
        margin: 0;
    }
    &-menu_item:focus {
        background-color: #998675;
        border-radius: 3px;
        color: #ffffff;
        outline: none;
    }
    &-menu_item:hover {
        color: #C7B299;
        fill: #C7B299;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-list_item {
        width: 370px;
        height: 340px;
        position: relative;
        &-img {
            width: 370px;
            height: 237px; 
            // для 3 картинки. Не закончено
            // position: absolute;
            // clip: rect(40px 250px 160px 50px);
        }
        &:hover &-img {
            filter: brightness(40%);
        }
        &-block_txt {
            padding: 30px 27px 30px;
            background-color: #fbfaf8;
            position: relative;
        }
        &:hover &-block_txt{
            background-color: #362f2d;
            
        }
        &-block_txt:before {
            content: "";
            border: 20px solid transparent;
            border-bottom: 20px solid #fbfaf8;
            position: absolute;
            top: -35px;
            left: 19px;
        }
        &:hover &-block_txt:before {
            border-bottom: 20px solid #362f2d;
        }
        &-title {
            font-family: 'raleway-medium';
            font-size: 20px;
            color: #c7b299;
        }
        &:hover &-title {
            color: #ffffff;
        }
        &-description {
            font-family: 'montserrat-light';
            font-size: 14px;
            color: #d1d1d1;
        }
        &:hover &-description {
            color: #c7b299;
        }
        &-link, &-search {
            width: 27px;
            height: 27px;
            display: none;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 35%;
            fill: #FFFFFF;
        }
        &-link {
            left: 35%;
        }
        &-search {
            right: 35%;
        }
        &-link:hover, &-search:hover {
            display: block;
            fill: #C7B299;
        }
        &:hover &-link, &:hover &-search {
            display: block;
        }
    }

    &-list_item:nth-child(1), &-list_item:nth-child(2) {
        margin: 0 29px 29px 0;
    }
    &-list_item:nth-child(4), &-list_item:nth-child(5) {
        margin: 0 29px 0 0;
    }
    &-btn_more {
        margin: 40px 0 0 0;
    }
} 

.video {
    position: relative;
    display: flex;
    &-play {
        background-color: black;
        background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(../img/back_video.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-play-hide {
        background-image: none;
    }
    &-content {
        width: 555px;
        position: absolute;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        &-btn_play {
            display: flex;
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 50%;
            outline: none;
            background-color: rgba(0, 0, 0, 0.2);
              &-icon {
                margin: auto;
                fill: #fff;
              }
              &:hover &-icon {
                fill: #C7B299;
              }
              &:active &-icon {
                fill: #362f2d;
              }
        }
        &-title {
            width: 100%;
            font-size: 30px;
            font-family: 'raleway-medium';
            margin: 45px 0 30px 0;
        }
        &-description {
            font-size: 16px;
            font-family: 'montserrat-light';
            margin: 0 0 40px 0;
        }
        &-time {
            width: 100%;
            font-size: 14px;
            color: #c7b299;
            font-family: 'raleway-regular';
        }
    }
    &-content--hide {
        display: none;
    }
}

.mobile {
    display: flex;
    justify-content: center;
    padding: $top_padding $edge_padding 0 ;
    background-color: #fbfaf8;
    &_block {
        max-width: 657px;
        margin: 116px 0 0 31px;
        color: #8c8c8c;
        font-family: 'raleway-medium';
        font-size: 16px;
        &-title {
            width: 100%;
            text-align: start !important;
        }
        &-description {
            line-height: 28px;
            margin: 0 0 40px 0;
        }
        &-list {
            list-style-position: inside;
            list-style-type: none;
            line-height: 32px;
            margin: 0 0 0 50px;
        }
        &-list-item {
            position: relative;
            padding-left: 50px;
        }
        &-list-item:before {
            content: ">";
            display: block;
            position: absolute;
            width: 22px;
            height: 22px;
            top: 5px;
            left: 0;
            background-color: #c7b299;
            color: #fff;
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
          }
    }
}

.counters {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 70px $edge_padding 60px;
    display: flex;
    justify-content: space-evenly;
    &-card {
        min-width: 75px;
        margin: 0 80px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'montserrat-light';
        &_img {
            margin: 0 0 25px 0;
            width: 55px; 
            height: 46px;
            fill: #c7b299;
        }
        &_count {
            font-size: 48px;
            color: #ffffff;
            width: 100%;
        }
        &_txt {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            color: #c7b299;
        }
    }
    &-card::after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        margin: 29px 0 0 0;
    }
}

.blog {
    padding: $top_padding $edge_padding;
    &-txt {
        max-width: 757px;
        text-align: center;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        &_article {
            font-family: 'montserrat-light';
            font-size: 14px;
            width: 371px;
            margin: 0 20px 0 0;
            &-image {
                width: 371px;
                height: 221px;
                background-color: #c7b299;
                position: relative;
                display: flex;
                justify-content: end;
            }
            &-calc {
                position: absolute;
                top: 19px;
                left: 19px;
                display: flex;
                flex-direction: column;
                color: #ffffff;
                text-align: center;
                &_day {
                    font-family: 'montserrat-light';
                    font-size: 24px;
                    padding: 5px 5px 0;
                    background-color: #363636;
                    border-radius: 3px 3px 0px 0px;
                }
                &_mouth {
                    font-family: 'roboto-regular';
                    font-size: 12px;
                    padding: 6px 13px;
                    background-color: #252525;
                    border-radius: 0px 0px 3px 3px;
                }
            }
            &-block_txt {
                padding: 30px 44px 33px 30px;
                background-color: rgba(119,119,119,0.0);
                border: 1px solid #f8f8f8;
            }
            &-title {          
                font-family: 'raleway-medium';
                font-size: 20px;
                color: #555555;
                margin: 0 0 20px 0;
            }
            &-txt {
                color: #8c8c8c;
                margin: 0 0 27px 0;
            }
            &-link {
                color: #c7b299;
                position: relative;
                text-decoration: none;
            }
            &-link:after {
                content: "";
                border: 5px solid transparent;
                border-left: 8px solid #c7b299;
                position: absolute;
                top: 5px;
                right: -30px;
            }
            &-link:hover {
                text-decoration: underline;
            }
            &:hover &-image img {
                filter: brightness(40%);
            }
            &:hover &-calc_day {
                background-color: #c7b299;
            }
            &:hover &-calc_mouth {
                background-color: #a48d72;
            }
            &:hover &-block_txt {
                background-color: #362f2d;
                border: 1px solid #362f2d;
            }
            &:hover &-title, &:hover &-link {
                color: #c7b299;
            } 
            &:hover &-txt {
                color: #ffffff;
            } 
        }
    }
    &-pagination {
        display: flex;
        justify-content: center;
        button {
            width: 22px;
            height: 22px;
            margin: 40px 10px 0 0;
            background-color: #FFFFFF;
            border: 1px solid #d1d1d1;
            border-radius: 50%;
            color: #d1d1d1;
            font-size: 16px;
        }
        button:hover {
            border: 1px solid #c7b299;
            color: #c7b299;
        }
        &_left::after {
            content: '<';
        }
        &_right::after {
            content: '>';
        }
    }
}

.partners {
    padding: 0 $edge_padding;
    background-color: black;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url(../img/partners/back_parners.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    height: 490px;
    &-item {
        align-self: center;
    }
}

.footer {
    font-family: 'montserrat-light';
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    &-content {    
        padding: $top_padding $edge_padding;
        background-color: #191919;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-about, &-posts, &-twitter, &-widget {
            display: flex;
            flex-direction: column;
            width: 23%;
        }
        .footer_title {
            font-family: 'raleway-bold';
            font-size: 24px;
            line-height: 1.2;
            color: #ffffff;
            margin: 30px 0 0 0;
        }
        .footer_article {
            padding: 20px 0;
            border-bottom: 2px solid #252525;
        }
        .footer_article:last-child {
            border: none;
        }
        .footer_article_date {
            font-family: 'montserrat-light';
            font-size: 12px;
            line-height: 20px;
            color: #363636;
        }
        .footer_article_impotant_txt {
            color: #00bff3;
        }
        .footer_article:hover {
            color: #c7b299;
        }
        .footer_article:hover .footer_article_date{
            color: #ffffff;
        }
        &-about {
            &_logo {
                margin: 0 0 30px 0;
            }
            &-link_more {
                font-family: 'montserrat-light';
                font-size: 14px;
                line-height: 20px;
                color: #d1d1d1;
                position: relative;
                text-decoration: none;
                margin: 30px 0 0 0;
            }
            &-link_more:before {
                content: "";
                border: 5px solid transparent;
                border-left: 8px solid #d1d1d1;
                position: absolute;
                top: 6px;
                left: 85px;
            }
            &-link_more:hover {
                text-decoration: underline;
            }
        }
        &-widget {
            &-list_tile {
                display: flex;
                flex-wrap: wrap;
                &-tile {
                    display: block;
                    width: 131px;
                    height: 99px;
                    margin: 4px;
                }
                &-tile:hover {
                    filter: brightness(40%);
                }
            }
        }
    }
    &-copy {
        padding: 45px $edge_padding;
        background-color: #111111;
        display: flex;
        justify-content: space-between;
        &-left, &-right {
            width: 50%;
            display: flex;
        }
        &-right {
            justify-content: flex-end;
        }
        .footer_white_txt {
            color: #959595;
        }
        .footer-copy-txt {
            display: block;
            margin: 0 10px 0 0;
            padding: 0 10px 0 0;
            border-right: 1px solid #252525;
        }
        .footer-copy-txt:last-child {
            border: none;
        }
        .footer-copy-txt:hover, .footer-copy-txt:hover *{
            color: #c7b299;
        }
    }
}